body,
h1,
h2,
h3,
h4,
h5,
h6,
li,
p {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  border-top: 5px solid rgb(20, 20, 20);
  border-bottom: 1px solid rgb(20, 20, 20);
}

.logo-center {
  display: flex;
  flex-direction: column;
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
}

h1 {
  font-size: 30px;
}
h2 {
  font-size: 10px;
  position: relative;
  top: 48px;
}
.menu-line {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.menu {
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  transition: 0.4s;
  margin-right: auto;
}

.menu:hover {
  background-color: rgb(128, 128, 128);
}
